<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.setupwizard.overlay.custom">
    <overlay android:targetPackage="com.google.android.setupwizard"
                   android:targetName="GoogleSetupWizard"
                   android:isStatic="true"
                   android:priority="220"/>
</manifest>
